<launch>
    <arg name="atmospheric_pressure" default="101300"/>
    <node name="depth_estimator" pkg="control" type="depth_estimator_node" output="screen">
        <rosparam command="load" file="$(find control)/config/depth_ekf_params.yaml" />
        <param name="atmospheric_pressure" value="$(arg atmospheric_pressure)" />
    </node>
</launch>