<launch>
    <arg name="vehicle_name"/>
    <arg name="use_ground_truth"/>
    <arg name="use_external_controller"/>
    <!--<arg name="vehicle_type" value="hippocampus"/>-->

    <!--<arg if="$(arg use_external_controller)" name="mixer_file" />-->

    <!--<arg name="path_file" default="$(find path_planning)/config/infinity_path.yaml" />-->

    <include file="$(find control)/launch/attitude_mixer_node.launch" pass_all_args="true" />

    <!--<include file="$(find control)/launch/depth_control_node.launch" pass_all_args="true" />-->


    <node name="joystick_control" pkg="control" type="joystick_control_node" output="screen"/>
    <node name="joystick_arm_manager" pkg="control" type="joystick_arm_manager_node" output="screen">
        <param name="vehicle_name" value="$(arg vehicle_name)" />
    </node> 
    <node name="joystick_mapper" pkg="control" type="joystick_mapper_node" output="screen"/>
    <node name="joy" pkg="joy" type="joy_node" />

    <group if="$(arg use_external_controller)">
        
        <!--<include file="$(find control)/launch/geom_att_ctrl_node.launch" />-->
        <!--<include file="$(find control)/launch/actuator_mixer_node.launch" pass_all_args="true">
            <arg name="mixer_file" value="$(arg mixer_file)" />
        </include>-->
    </group>
</launch>