<launch>
    <arg name="vehicle_name" />
    <arg name="vehicle_type" default="bluerov" />

    <arg name="use_ground_truth" default="false"/>
    <arg name="use_external_controller" default="false" />
    <arg name="atmospheric_pressure" default="101300"/>
    
    <group ns="$(arg vehicle_name)">
        <include file="$(find control)/launch/inc_joystick_control.launch" pass_all_args="true"/>

        <include file="$(find control)/launch/node_attitude_mixer.launch" pass_all_args="true" />
        <include file="$(find control)/launch/node_depth_estimator.launch" pass_all_args="true"/>
    </group>
</launch>