<launch>

    <arg name="vehicle_name" />
    <arg name="use_ground_truth" value="false"/>
    <arg name="use_external_controller" value="false" />
    
    <group ns="$(arg vehicle_name)">
        <include file="$(find control)/launch/joystick_control.launch" pass_all_args="true"/>
    </group>

</launch>